body {
  align-content: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#h1-style {
  height: 50px;
}

.image {
  height: 250px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

#car {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

/* Hides the original input tag format */
input[type="file"] {
  display: none;
}

/* Hides the original input tag format */
input[type="submit"] {
  display: none;
}
