{% extends "layout.html" %}
{% block content %}
    <h1>Identify the Car</h1>

    <div class="image">
      <img id="car" src="#" alt="upload an image" />
    </div>

    <form action="http://127.0.0.1:5000/uploade_image" method="POST" enctype="multipart/form-data" class="form_btns">
      <label class="img-upload">
        <input type='file' onchange='readURL(this);' />
        Upload Image
      </label>
      <label class="img-upload">
        <input type = "submit" value='Identify' onchange='identify(this);' />
        Identify
      </label>
    </form>

    {% if prediction %}
    <script type='text/javascript'>
      let car = '{{ prediction }}';
      alert('ler');
      function print_data() {
        var tag = car[0]['tagName'];
        document.getElementById('tag').innerText = "Vehicle Class: " + tag;
      }
    </script>
    {% endif %}

    <p id='tag'></p>
    <p id='probability'></p>
{% endblock content %}
