{% extends "layout.html" %}
{% block content %}
    <h1>Identify the Car</h1>

    <div class="image">
      <img id="car" src="#" alt="upload an image" />
    </div>

    <form action="http://127.0.0.1:5000/uploade_image" method="POST" enctype="multipart/form-data" class="form_btns">
      <label class="img-upload">
        <input type='file' onchange="readURL(this);" />
        Upload Image
      </label>
      <label class="img-upload">
        <input type = "submit" value='Identify'/>
        Identify
      </label>
    </form>
{% endblock content %}
